@import url("https://use.typekit.net/sud7gtj.css");
.App {
  text-align: center;
  background: url("./images/Screenshot\ 2021-10-13\ at\ 11.59.43.png") !important;
  height: 100vh;
  width: 100%;
  overflow: auto;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: karumbi, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  color: #302226;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

