.slider {
  margin-top: 20px;
  margin-bottom: 20px;
  max-width: 100vw;
  background-color: white;
}

ul::before li::before button::before {
  font-size: 10px;
  color: rgb(150, 158 171);
}
li.slick-active button::before {
  color: white;
}
.slick-list {
  overflow: hidden;
}
button {
  margin: 5vw;
  z-index: 1;
}

p {
  border: 4px solid transparent;
  border-radius: 4px;
  width: 100%;
  height: 100%;
  box-shadow: rgb(0 0 0 /69%) 0px 26px 30px -10px,
    rgb(0 0 0 /73%) 0px 16px 10px -10px;
  transition-duration: 300ms;
  font-size: 50px;
}

.slick-next,
.slick-prev {
  background: transparent;
}

h3 {
  text-align: center;
  color: white;
  font-size: 50px;
}
