.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}


form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

p {
    background-color: rgba(255, 255, 255, 0);
}

input{
    max-width: 80vw;
    margin-bottom: 5vh;
    border-radius: 5px;
    border-style:hidden;
    padding: 10px;
}

.title{
    margin-top: 0;
}