.buttonContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50vh;
}

.btn {
  font-size: 5vh;
}
.btn:hover {
  background-color: #fff4bd;
  transition-duration: 4s;
}

/* @media (min-width: 600px) {
  .buttonContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
  }

  h4.nav-text {
    display: contents;
  }
} */
