@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@600&display=swap");

.title > span {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 10vh;
}

.color1 {
  color: #db7558;
}
.color2 {
  color: #f6a6b6;
}
.color3 {
  color: #ffcf57;
}
.color4 {
  color: rgb(215, 196, 244);
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 13vh;
}

.button {
  font-size: 5vh;
  background-color: (255, 244, 189, 0.4);
}

/* @media (min-width: 600px) {
  .buttonContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
  }

  h4.nav-text {
    display: contents;
  }
} */
